{{> header}}
<div class="container">
    <h1 class="text-center py-5"> This is Home</h1>
    <div class="row">
        <div class="col-md-8 bg-primary px-0">
            <h4>Lets Stream Some Videos Online</h4>
            <video controls src="https://localhost:3000/api/video"></video>
        </div>
        <div class="col-md-4 py-5 bg-warning">

        </div>
    </div>
</div>
<script>
    console.log('Hello World');
//( async ()=>{
//    let response = await  fetch('/api/video')
//    let data = await response.json()

//    console.log(data.message)
//})()
    
</script>
{{> footer}}