{{> header}}
<div class="container ">
    <h1 class="text-center"> Welcome to our Sedoid's corner</h1>
</div>
{{!-- {{> footer}} --}}

<div class="jumbotron mt-4 rounded-0 py-4 fixed-bottom mb-0">
    <h6 class="text-center"> &copy;SevenAdvanceAcademy</h6>
</div>